* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f8f9;
}


.sidebar {
    position: fixed;
    width: 150px;
    height: 100vh;
    background-color: #2f8f9d;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.sidebar h2 {
    font-size: 16px;
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 20px 0;
    font-size: 20px;
}


.main {
    margin-left: 80px;
    padding: 20px;
}


.header {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.header h1 {
    color: #2f8f9d;
    padding-left:75px;
}
.para{
	padding-left:75px}

.content {
    display: flex;
    gap: 20px;
}


.updates {
    width: 35%;
    background-color: white;
    padding: 75px;
    border-radius: 15px;
}

.update-card {
    background-color: #e8f6f8;
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;
}


.cards {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    background-color: #3baea0;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.card button {
    margin-top: 15px;
    padding: 8px 12px;
    border: none;
    background-color: white;
    color: #3baea0;
    border-radius: 5px;
    cursor: pointer;
}

